<div class="page-header">
  <h1>Restriction #<%= @restriction.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Building</dt>
  <dd><%= @restriction.building_id %></dd>

  <dt>Pet</dt>
  <dd><%= @restriction.pet %></dd>

  <dt>Rental</dt>
  <dd><%= @restriction.rental %></dd>

  <dt>Credit</dt>
  <dd><%= @restriction.credit %></dd>

  <dt>Reference</dt>
  <dd><%= @restriction.reference %></dd>

  <dt>Interview</dt>
  <dd><%= @restriction.interview %></dd>

  <dt>Created at</dt>
  <dd><%= @restriction.created_at %></dd>

  <dt>Updated at</dt>
  <dd><%= @restriction.updated_at %></dd>

</dl>
