<div class="page-header">
  <h1>Building Attribute #<%= @building_attribute.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Building</dt>
  <dd><%= @building_attribute.building_id %></dd>

  <dt>Ownership</dt>
  <dd><%= @building_attribute.ownership %></dd>

  <dt>Unit count</dt>
  <dd><%= @building_attribute.unit_count %></dd>

  <dt>Stories</dt>
  <dd><%= @building_attribute.stories %></dd>

  <dt>Notes</dt>
  <dd><%= @building_attribute.notes %></dd>

  <dt>Created at</dt>
  <dd><%= @building_attribute.created_at %></dd>

  <dt>Updated at</dt>
  <dd><%= @building_attribute.updated_at %></dd>

</dl>
