<div class="page-header">
  <h1>Amenity #<%= @amenity.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Building</dt>
  <dd><%= @amenity.building_id %></dd>

  <dt>Parking</dt>
  <dd><%= @amenity.parking %></dd>

  <dt>Guest parking</dt>
  <dd><%= @amenity.guest_parking %></dd>

  <dt>Doorperson</dt>
  <dd><%= @amenity.doorperson %></dd>

  <dt>Fitness</dt>
  <dd><%= @amenity.fitness %></dd>

  <dt>Biz center</dt>
  <dd><%= @amenity.biz_center %></dd>

  <dt>Pool</dt>
  <dd><%= @amenity.pool %></dd>

  <dt>Package receiving</dt>
  <dd><%= @amenity.package_receiving %></dd>

  <dt>Catering</dt>
  <dd><%= @amenity.catering %></dd>

  <dt>Housekeeping</dt>
  <dd><%= @amenity.housekeeping %></dd>

  <dt>Party room</dt>
  <dd><%= @amenity.party_room %></dd>

  <dt>Bike storage</dt>
  <dd><%= @amenity.bike_storage %></dd>

  <dt>Storage</dt>
  <dd><%= @amenity.storage %></dd>

  <dt>Dry cleaning</dt>
  <dd><%= @amenity.dry_cleaning %></dd>

  <dt>Conf room</dt>
  <dd><%= @amenity.conf_room %></dd>

  <dt>Sundeck</dt>
  <dd><%= @amenity.sundeck %></dd>

  <dt>Spa</dt>
  <dd><%= @amenity.spa %></dd>

  <dt>Guest stay</dt>
  <dd><%= @amenity.guest_stay %></dd>

  <dt>Restaurant</dt>
  <dd><%= @amenity.restaurant %></dd>

  <dt>Private club</dt>
  <dd><%= @amenity.private_club %></dd>

  <dt>Concierge</dt>
  <dd><%= @amenity.concierge %></dd>

  <dt>Created at</dt>
  <dd><%= @amenity.created_at %></dd>

  <dt>Updated at</dt>
  <dd><%= @amenity.updated_at %></dd>

</dl>
