<div class="page-header">
  <h1>Building #<%= @building.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @building.name %></dd>

  <dt>Address</dt>
  <dd><%= @building.address_id %></dd>

  <dt>Image url</dt>
  <dd><%= @building.image_url %></dd>

  <dt>Headline</dt>
  <dd><%= @building.headline %></dd>

  <dt>Created at</dt>
  <dd><%= @building.created_at %></dd>

  <dt>Updated at</dt>
  <dd><%= @building.updated_at %></dd>

</dl>
