<div class="page-header">
  <h1>Buildinghood #<%= @buildinghood.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Building</dt>
  <dd><%= @buildinghood.building_id %></dd>

  <dt>Neighborhood</dt>
  <dd><%= @buildinghood.neighborhood_id %></dd>

  <dt>Created at</dt>
  <dd><%= @buildinghood.created_at %></dd>

  <dt>Updated at</dt>
  <dd><%= @buildinghood.updated_at %></dd>

</dl>
