<div class="page-header">
  <h1>Address #<%= @address.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Streetaddress</dt>
  <dd><%= @address.streetaddress %></dd>

  <dt>City</dt>
  <dd><%= @address.city %></dd>

  <dt>State</dt>
  <dd><%= @address.state %></dd>

  <dt>Zip</dt>
  <dd><%= @address.zip %></dd>

</dl>
